.logo {
    width: 20%;
    height: 100%;
    float: left;
}

.tuaDe {
    width: 80%;
    height: 100%;
    float: left;
}

.tuaDe h2 {
    margin-top: 30px;
    text-align: center;
    color: rgb(7, 63, 147);
}

.myFRM {
    padding-top: 10px;
}