.information h2 {
    text-align: center;
    color: white;
}

.anhNguoiLam {
    margin-top: 20px;
    margin-left: 90px;
    border: 3px solid white;
}

.thongTinSV {
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
}